<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestion Etudiants</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Liste Des Eutiants</h1>
    </div>

        <a   th:href="@{/etudiants/new}" class="btn btn-primary " role="button">Ajouter Etudiant</a>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="etudiant : ${etudiants}">
                <td th:text="${etudiant.prenom}"></td>
                <td th:text="${etudiant.nom}"></td>
                <td th:text="${etudiant.email}"></td>
                <td>
                    <div class="container-sm">
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" th:href="@{|/etudiants/update/${etudiant.id}|}" role="button">Modifier</a>

                            </div>
                            <div class="col">
                                <form th:action="@{|/etudiants/delete/${etudiant.id}|}" method="POST">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>

                        </div>

                    </div>




                </td>

            </tr>

            </tbody>

        </table>
    </div>


</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
